.white-col{
    color:white;
}
#first-div{
    background-color: green;
}
#second-div{
    background-color: blue;
}
#third-div{
    background-color: red;
}
#fourth-div{
    background-color: purple;
}